body {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    color:#212121;
    list-style:none;
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.20;
    color: #212121;
}
.logo > span {
    color: #2196f3;
}
.menu > h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}
.menu > p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    color: #757575;
}
.contact > address {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.72;
}
.menubutton > h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: #FFFFFF;
}
.mainbutton {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    color: #FFFFFF;
    background-color: #2196F3;
    cursor: pointer;
}
.menumain > h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
}
.menumain > h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
}
.menumain > p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: #757575;
}
.team > h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
}
.team > h3 {
    font-size: 16px;
    line-height: 1.19;
}
.team > p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    color: #757575;
}
.list-button {
    font-weight: 500;
    line-height: 1.62;
    cursor: pointer;
    background-color: #F5F4FA;
}
.list-button:hover,
.list-button:focus {
    color: #ffffff;
    background-color: #2196f3;