body {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    color:#212121;
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.20;
    color: #212121;
    text-decoration: none;
}
.logo > span {
    color: #2196f3;
    text-decoration: none;
}
.menu > h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}
.menu > p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    color: #757575;
}
.contact {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.72;
    list-style:none;
}
.menubutton > h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: #FFFFFF;
}
.menubutton > .mainbutton {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    color: #FFFFFF;
    background-color: #2196F3;
    cursor: pointer;
}
.menumain > h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
}
.menumain  h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
}
.menumain  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: #757575;
}
.team > h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
}
.team > h3 {
    font-size: 16px;
    line-height: 1.19;
}
.team > p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    color: #757575;
}
.button-menu button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 1.62;
    cursor: pointer;
    background-color: #F5F4FA;
}
.button-menu button:hover,
.button-menu button:focus {
    color: #ffffff;
    background-color: #2196f3;
}
.link:hover,
.link:focus {
    color: #2196F3;
}
.links {
    text-decoration: none;
    list-style:none;
}
.menumain li {
    text-decoration: none;
    list-style:none;
}
.team li {
    text-decoration: none;
    list-style:none;
}
.menu {
    text-decoration: none;
    list-style:none;
}
.link {
    text-decoration: none;
    color: #212121;
}
.link-ad {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}
.link-ad:hover,
.link-ad:focus {
    color: #2196F3;
}
.button-menu li {
    list-style:none;
}
