body {
    background-color: #ffffff;
    font-family: 'Roboto','Montserrat', sans-serif;
    color:#212121;
}
a:hover {
  color: #2196f3;
}
.logo {
    font-family: 'Raleway','Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    color: #212121;
}
.logo > span {
    color: #2196f3;
}
button:hover,
button:focus {
    color: #ffffff;
    background-color: #2196f3;
}
button {
    cursor: pointer;
}